<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="innovationsquare.com.alternatebrain">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" /> <!-- new added-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="26" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/iconn"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SplashAcitivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/WeatherTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WeatherTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WeatherTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/WeatherTheme"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".activities.SingleImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WeatherTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WeatherTheme"
            android:windowSoftInputMode="adjustPan" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="innovationsquare.com.alternatebrain.camera"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <receiver android:name=".services.NetworkChangeReceiver">
            <!--<intent-filter>-->
            <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
            <!--</intent-filter>-->
        </receiver>

        <!--<receiver android:name=".zeventbus.NetworkReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
        <!--<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <service android:name=".services.MyService" />

        <activity
            android:name=".activities.InfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WeatherTheme"></activity>
        <activity
            android:name=".utils.GridActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WeatherTheme">

        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="474c9e8b44568488f7bbd87982eae254c5d92b80" />
    </application>

</manifest>